@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  background-color: rgb(110, 142, 211);
  color : black
  
}
.header-button{
  font-size: 30px;
  margin-left : 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-style:italic;
  font-weight: 500;


}

.homeContainer {
  display: flex;
  align-items: center;
  background-color: blue;
  
}

.childContainer {
  width: fit-content;
  height: 250px;
  margin: 40px;
  font-size: 10px;
  font-weight: 500;
  font-style:italic;
}

.pinkColor {
  color:red;
  font-size: 80px;
}


.imageContainer {
  margin-right: 10px;
}

.imageStyle {
  
  width: 700px;
  height: auto;
  border-radius: 70%; /* Optional: This will make the image circular */
}
/* styles/globals.css */
body {
  background-color: #8AB6F9; /* your desired background color */
  margin: 0;
  padding: 0;
}

